$primary: #002138;
$primary-dark: color($primary blackness(30%));
$secondary: color(black lightness(40%));

$bright1: #b047de;
$bright2: #33b3e2;
$muted1: #cbebf7;
$muted2: #ebd0f6;
$margin: 0.75rem;
$margin-panel: resolve($margin * 1.5);
$margin-layout: resolve($margin * 2);
$grey: #707070;
$charcoal: #4a4a4a;
$mist: #dfdfdf;
$storm: color(#e0e7e9 tint(40%));
$fontsize0: 0.82rem;
$fontsize1: 0.9375rem;
$fontsize2: 1.5rem;

/* $transitionpanelshift: 1s margin-left ease; */
$transitionpanelshift: 0.5s transform ease;
$ramp: linear-gradient(90deg, $bright1, $bright2);
$ramptrans: linear-gradient(90deg, color($bright1 a(50%)), color($bright2 a(50%)));
$rampsoft: linear-gradient(90deg, color($bright1 a(50%)), color($bright2 a(50%)));
$ramplightfaded: linear-gradient(90deg, $muted1, $muted2);

.icon_clipboard {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="17.675" height="31.601" viewBox="0 0 17.675 31.601"><path id="Path_1" d="M12.957,30.68,26.106,17.532,12.957,4.383" transform="translate(27.981 33.332) rotate(180)" fill="none" stroke="%23000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.5"/></svg>');
}
$togglewidth: 2.125rem;
$toggledot: 1.25rem;
@define-mixin controlText {
  line-height: 1;
  position: relative;
  font-weight: 600;
  font-size: $fontsize0;
  text-transform: uppercase;
}
@define-mixin toggleIcon {
  padding-right: calc($togglewidth + $margin);
  transition: 0.3s all ease;
  opacity: 0.5;
  &::before,
  &::after {
    transition: 0.3s all ease;

    content: '';
    display: block;
    border-radius: $togglewidth;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  &::before {
    width: $togglewidth;
    height: resolve($toggledot * 0.5);
    background-color: color(white a(50%));
  }
  &::after {
    background-color: white;
    width: $toggledot;
    height: $toggledot;
    right: resolve($togglewidth - $toggledot);
  }
}
@define-mixin toggleIconActive {
  opacity: 1 !important;
  &::after {
    right: 0 !important;
  }
}
@define-mixin copybutton {
  font-family: 'Inter', sans-serif;
  color: black;
  font-weight: 500;
  display: block;
  font-size: 1rem;
  background-color: $mist;
  border-radius: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: $margin resolve($margin * 2);
  &:active,
  &:focus {
    transition: 0.3s all ease;
    opacity: 0.75;
    transform: translateY(0.125rem);
  }
}
@define-mixin pseudocopybutton {
  &:active,
  &:focus {
    transition: 0.3s all ease;
    opacity: 0.75;
    transform: translateY(0.125rem);
  }
  &::after {
    padding: 0.375rem 0.5rem;
    transform: translateY(-50%);
    right: 0;
    top: 50%;
    left: auto;
    width: 3rem;
    content: 'COPY';
    position: absolute;
    @mixin copybutton;
  }
}
