@import '../../modules/breakpoints.css';
@import '../../modules/variables.css';
@import './dropdown.css';

.title {
  font-weight: 600;
  color: white;
  display: grid;
  align-items: center;
  line-height: 1;
  margin-bottom: $margin;
  font-size: 1.125rem;
  height: 1rem;
  @mixin atTn {
    height: 2rem;
    font-size: 1.5rem;
  }
}
.wrapper {
  background: white;
  border-radius: 4px;
  color: black;
  padding: $margin;
  height: 100%;
  top: 0;
  left: 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr;
  padding: resolve($margin * 0.5);
  grid-gap: resolve($margin * 0.5);
  @mixin atX {
    grid-gap: $margin;
    padding: $margin;
  }
}
.field {
  cursor: pointer;
  outline: transparent;
  font-family: 'Courier', monospace;
  word-break: break-all;
  margin: 0;
  border: none;
  padding: 0;
  font-size: $fontsize2;
  color: $charcoal;
  &::focus {
  }
}

:global .copybutton {
  width: 100%;
  max-width: 8rem;
  margin-top: $margin;
  @mixin copybutton;
}
.nothing {
  @mixin emptymessage;
}
