@import '../../modules/breakpoints.css';
@import '../../modules/variables.css';

.mobileModeContainer {
  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    position: relative;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin: 0.625rem 0;
    @mixin atX {
      margin: 1.25rem 0;
    }
    @mixin atMd {
      margin: 2rem 0;
      display: none;
    }
    li {
      border-radius: 2px;
      color: white;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      position: relative;
      user-select: none;
      width: 7rem;
      padding: 0.5rem 1rem;
      font-size: 0.88rem;
      @mixin atX {
        font-size: inherit;
        padding: 0.75rem 1rem;
      }
      @mixin atSm {
        width: 10rem;
      }
      &::before {
        content: '';
        z-index: -1;
        opacity: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        position: absolute;
        background: $ramp;
        transition: 0.5s all ease;
        border-radius: 2px;
      }
      &.active {
        cursor: default;
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
