@import '../../modules/breakpoints.css';
@import '../../modules/variables.css';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  padding: 0;
  margin-bottom: $margin;
  width: 200%;
  height: 1rem;
  @mixin atTn {
    height: 2rem;
  }
  @mixin atMd {
    width: 100%;
    &::before {
      content: 'Glyphs';
      font-weight: 600;
      color: white;
      display: block;
      font-size: $fontsize2;
      line-height: 1;
    }
  }
  & > button:first-child {
    margin-left: 0;
  }
}
.toggle {
  @mixin controlText;
  height: 100%;
  color: color(white a(50%));
  span {
    @mixin toggleIcon;
  }
}
:global .active {
  color: white;
  span {
    @mixin toggleIconActive;
  }
}
