@import '../../modules/breakpoints.css';
@import '../../modules/variables.css';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  padding: 0;
  margin-bottom: $margin;
  width: 200%;
  height: 1rem;
  @mixin atTn {
    height: 2rem;
  }

  @mixin atMd {
    width: 100%;
  }
  & > button:first-child {
    margin-left: 0;
  }
}
.toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 25%;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin-right: resolve($margin * 0.75);
  @mixin controlText;
  height: 100%;
  color: color(white a(50%));
  @mixin atMd {
    margin-right: 0;
  }
  span {
    @mixin toggleIcon;
  }
  :global .inspectoropen :local & {
    transform: translateX(-$margin);
    @mixin atMdPlusShort {
      transform: none;
    }
  }
}
:global .active {
  color: white;
  span {
    @mixin toggleIconActive;
  }
}
