@import '../../modules/breakpoints.css';
@import '../../modules/variables.css';
$iconsize: 1.125rem;

$margin: 0.5rem;
$cardsize: 7.5rem;
.glyphcard {
  &_unit {
    transition: 0.3s all ease;
    position: relative;
    box-sizing: border-box;
    display: block;
    border: none;
    width: calc(50% - $margin);
    height: auto;
    margin: 0 resolve($margin * 0.5) resolve($margin * 1) resolve($margin * 0.5);
    border-radius: $margin;
    /* border: 1px solid color($primary a(25%)); */
    flex-grow: 1;
    max-width: calc(50% - $margin);
    background-color: color($primary lightness(96%));
    box-shadow: 0 0 0 color($primary a(50%));

    @mixin atSm {
      width: calc(25% - $margin);
      max-width: calc(25% - $margin);
    }
    @mixin atLg {
      width: calc(16.665% - $margin);
      max-width: calc(16.665% - $margin);
    }
    &:hover {
      transition: 0.25s all ease;
      background-color: color($primary lightness(100%));
      box-shadow: 0 0.25rem 1.25rem color($primary a(50%));
    }
  }
  &_bigletter {
    z-index: 1;
    margin: 0;
    font-size: 3rem;
    line-height: 1;
    padding: 0;
    position: absolute;
    display: block;
    font-weight: 500;
    top: 0.5rem;
    width: 100%;
    text-align: center;
    padding-bottom: $margin;

    font-family: 'IBM Plex Sans Bold', 'apple color emoji', 'segoe ui emoji', 'noto color emoji', notocoloremoji, 'segoe ui symbol', 'android emoji', emojisymbols, 'emojione mozilla', 'twemoji mozilla', 'segoe ui symbol', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    &:hover {
    }
  }
  &_info {
    box-sizing: border-box;
    position: relative;
    padding-top: 4rem;
    padding-bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.75rem;
    line-height: 1.2;
    color: $primary-dark;
    text-transform: capitalize;
  }
  &_name,
  &_entity {
    text-align: left;
    padding: $margin resolve($iconsize + $margin) $margin $margin;
    margin: 0;
    margin-top: resolve($margin * 0.25);
  }
  &_name {
    display: block;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 2em;
    max-height: 2em;
    @mixin atSmmd {
      -webkit-line-clamp: 3;
      height: 3em;
      max-height: 3em;
    }
    @mixin atLg {
      -webkit-line-clamp: 2;
      height: 1.875em;
      max-height: 1.875em;
    }
  }
  &_entity {
    position: relative;
    line-height: 1;
    &:before {
      font-size: 80%;
      content: 'HTML Entity';
      display: block;
      padding-bottom: 0.125rem;
      color: $secondary;
    }
  }
  &_copied {
    box-sizing: border-box;
    overflow: hidden;
    width: 4rem;
    position: absolute;
    top: auto;
    left: 50%;
    bottom: 2rem;
    display: block;
    margin-left: -2rem;
    opacity: 1;
    padding: resolve($margin * 1) 0 resolve($margin * 1) 0;
    font-weight: 700;
    z-index: 10;
    background-color: white;
    border: 1px solid $primary;
    border-radius: 0.375rem;
    box-shadow: 0 0 0.75rem $primary;
    line-height: 1;
    transform: translateX(-50%);
  }
  &_entity,
  &_name,
  &_bigletter {
    cursor: pointer;
    &:after {
      transition: 1s opacity ease;
      content: '';
      opacity: 0;
      display: block;
      position: absolute;
      top: calc(50% - resolve($margin * 0.25));
      width: $iconsize;
      height: $iconsize;
      right: resolve($margin - $iconsize * 0.125);
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: $iconsize $iconsize;
      background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.063 35.063"><style type="text/css">.st0{fill:none;stroke:%23000000;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;}</style><polyline class="st0" points="25.536,7.515 29.536,7.515 29.536,30.941 5.527,30.941 5.527,7.515 9.527,7.515"/><rect x="13.027" y="4.122" class="st0" width="9.008" height="6.787"/></svg>');
    }
    &:hover:after {
      transition: 0.5s opacity ease;
      opacity: 1;
    }
  }
}
.sideborder {
  span {
    background-clip: padding-box;
    padding: 0;
    box-sizing: border-box;
    white-space: pre;
    position: relative;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-width: 0 1px;
    background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06) 6px, rgba(0, 0, 0, 0.09) 6px, rgba(0, 0, 0, 0.09) 12px);
  }
}
:global .copied {
  &:hover:after {
    animation: wiggle 0.5s normal forwards ease;
    opacity: 1;
  }
}
:global .copiedactive {
  transform: translateY(100%);
  animation: float 1.125s normal forwards ease;
}
/* prettier-ignore */
@keyframes :global(wiggle){
  0%,100% {
    transform: translateX(0%) translateY(-50%);
  }
  33.33%,66.66% {
    transform: translateX(20%) translateY(-50%);
  }
  16.665%, 50%, 83.325% {
    transform: translateX(-20%) translateY(-50%);
  }
}
/* prettier-ignore */
@keyframes :global(float) {
  0% {
    bottom: calc(50% - 0.75rem);
    opacity: 0;
  }
  50% {
    bottom: calc(50% + 0.75rem);

  }
  75% {
    opacity:1;
  }
  85% {
    bottom: calc(50% + 0.75rem);
    opacity:1;
  }
  100% {
    bottom: calc(50% + 0.75rem);
    opacity: 0;
  }
} ;
