@import './modules/variables.css';
@import './modules/breakpoints.css';
@import './modules/fonts.css';
$overset: resolve($margin * 1);

body {
  margin: 0;
  font-family: 'Inter', source-code-pro;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}
p {
  font-weight: 400;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  padding: $margin;
  align-items: stretch;

  @mixin atMd {
    display: block;
    height: auto;
  }
}
footer {
  padding: $margin 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-weight: 500;
  font-size: 0.75rem;
}
.outputContainer {
  display: flex;
  overflow: hidden;
  flex: 1 auto;
  /* align-items: stretch; */
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  @mixin atMd {
    display: flex;
    flex-direction: row;
    width: 100%;
    outline: 3px solid color(pink a(40%));
    min-height: 500px;
  }
}
.glyphcardContainer,
.entityContainer {
  left: 0;
  box-sizing: border-box;
  padding: $margin;
  display: block;
  background: $ramptrans;
  border-radius: 0.4375rem;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s all ease;

  /* position: relative; */
  /* min-height: 500px; */
  align-self: flex-start;
  /* height: 100%; */
  display: flex;
  flex-basis: 100%;
  @mixin atMd {
    height: auto;
    position: relative;
    flex-basis: 60%;
  }
}
.glyphcardContainer {
  overflow: hidden;
  /* height: 100%; */
  align-items: flex-start;
  @mixin atMd {
    /* margin-right: $margin; */
    /* height: auto; */
    /* max-width: 900px; */
    width: 60%;
    flex-basis: 65%;
    margin-right: $margin;
  }
  .showentities & {
    border: 12px red;
    opacity: 0;
    z-index: -1;
  }
}
.entityContainer {
  display: flex;
  opacity: 0.2;
  z-index: -1;
  position: relative;
  flex-direction: column;
  color: white;

  @mixin atMd {
    margin-left: $margin;
    align-items: flex-start;
    justify-content: flex-start;
    /* margin-left: $margin; */
    /* width: 40%; */
    opacity: 1;
    flex-wrap: wrap;
    width: 40%;
    align-items: flex-start;
    flex-basis: 35%;
  }
  .showentities & {
    opacity: 1;
    z-index: 1;
  }
}
.glyphPanelUnit {
  flex: 0 0 50%;
  min-height: 0;
  z-index: 0;
  position: relative;
  &:first-child {
    transition: $transitionpanelshift;
    /* overflow: auto; */
    /* align-items: stretch; */
  }
  @mixin atMd {
    &:first-child {
      position: relative;
      flex: 0 0 100%;
    }
  }

  .inspectoropen & {
    &:first-child {
      @mixin atMd {
        margin-left: 0;
      }
    }
    &:nth-child(2) {
      &::before {
        position: fixed;
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: color($primary a(70%));
        backdrop-filter: blur(2px);
        opacity: 1;
        left: 0;
        top: 0;
        z-index: 2;
        @mixin atMd {
          content: '';
        }
      }
    }
  }
}
.glyphInspector {
  display: flex;
  position: relative;
  height: auto;
  align-items: flex-start;
  z-index: 2;
  width: 100%;
  height: 100%;
  flex-basis: 1 1 auto;
  background-color: white;
  border-radius: 0.4375rem;
  @mixin atMd {
    height: auto;
    padding: $overset 0 0 0;
    transform: translate(-50%, -50%);
    background-color: white;
    left: 50%;
    top: 50%;
    width: 600px;
    position: fixed;
    box-shadow: $margin $margin resolve($margin * 3) rgba(0, 0, 0, 0.5);
  }
}
.glyphcardList::-webkit-scrollbar {
  width: 0.25rem;
}

/* Track */
.glyphcardList::-webkit-scrollbar-track {
  background: color(white a(50%));
  border-radius: 0.25rem;
}

/* Handle */
.glyphcardList::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0.2rem;
}
.glyphcardList {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 1;
  padding: 0 resolve($margin * 0.25) 0 0;
  overflow-y: auto;
  align-items: flex-start;
  justify-content: flex-start;
  /* align-self: stretch; */
  min-height: 0;
  height: 100%;
  /* min-height: 100%; */
  margin: 0;
  @mixin atMd {
    padding: 0 resolve($margin * 0.5) 0 0;
  }
  /* height: calc(100% + $overset); */

  /* margin-top: -$overset; */
  /* outline: 2px solid red; */
  /* padding-top: $overset; */
  /* background: linear-gradient(to bottom, transparent 0, black $overset, black calc(100% - 6rem), transparent calc(100% - 2px), gold calc(100% - 2px), gold 100%); */
  /* mask-image: linear-gradient(to bottom, transparent 0, black $overset, black calc(100% - resolve($overset * 6)), transparent 100%); */
  &:empty {
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      opacity: 0.5;
      font-size: 2rem;
      content: 'No current results';
    }
  }
  &:last-child:after {
    /* content: 'x'; */
    height: 100%;
    clear: both;
  }
}

.glyphPanelContainer {
  position: relative;
  display: flex;
  width: 200%;
  flex-direction: row;
  max-height: 100%;
  height: auto;
  /* align-items: stretch; */
  @mixin atMd {
    display: block;
    width: 100%;
  }
}
.glyphcardWrapper {
  transition: $transitionpanelshift;
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow: visible;
  position: relative;
  &.inspectoropen {
    transform: translateX(-100%);
    @mixin atMd {
      transform: none;
    }
  }
}
