@import './modules/variables.css';
@import './modules/breakpoints.css';
@import './modules/fonts.css';

$overset: resolve($margin * 1);

body {
  margin: 0;
  font-family: 'Inter', source-code-pro;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}
h1 {
  -webkit-font-smoothing: subpixel-antialiased;
}
p {
  font-weight: 400;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  align-items: stretch;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  padding: resolve($margin * 0.5);
  @mixin atX {
    padding: $margin;
  }
  @mixin atMd {
  }
}
.App > * {
}
footer {
  a {
    font-weight: 500;
    font-size: 0.75rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    padding: resolve($margin * 0.75) 0 0;
    @mixin atX {
      padding: $margin 0 0;
    }
    span {
    }
  }
}
.outputContainer {
  display: flex;
  overflow: hidden;
  flex: 1 auto;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  align-items: stretch;
  @mixin atMd {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 500px;
  }
}
.glyphcardContainer,
.entityContainer {
  left: 0;
  box-sizing: border-box;
  padding: $margin;
  display: block;
  background: $ramptrans;
  border-radius: 0.4375rem;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s all ease;
  align-self: flex-start;
  display: flex;
  flex-basis: 100%;
  @mixin atMd {
    position: relative;
    flex-basis: 60%;
  }
}
.glyphcardContainer {
  align-items: flex-start;
  @mixin atMd {
    width: 65%;
    flex-basis: 75%;
    margin-right: $margin;
  }
  @mixin atLg {
    width: 75%;
    flex-basis: 65%;
  }
  .showentities & {
    opacity: 0;
    @mixin atMd {
      opacity: 1;
    }
  }
}
.entityContainer {
  display: grid;
  opacity: 0;
  z-index: -1;
  position: relative;
  color: white;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  @mixin atMd {
    margin-left: $margin;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 1;
    flex-wrap: wrap;
    width: 40%;
    align-items: flex-start;
    flex-basis: 35%;
    z-index: 0;
  }
  .showentities & {
    opacity: 1;
    z-index: 1;
  }
}
.glyphPanelUnit {
  position: relative;
  &:first-child {
    transition: $transitionpanelshift;
  }
  .inspectoropen & {
    &:first-child {
      transform: translateX(-$margin);
      @mixin atMdPlusShort {
        transform: none;
        margin-left: 0;
      }
    }
    &:nth-child(2) {
      &::before {
        position: fixed;
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: color($primary a(70%));
        backdrop-filter: blur(2px);
        opacity: 1;
        left: 0;
        top: 0;
        @mixin atMdPlusShort {
          content: '';
        }
      }
    }
  }
}
.glyphInspector {
  display: flex;
  position: relative;
  height: auto;
  align-items: flex-start;
  z-index: 100;
  width: 100%;
  height: 100%;
  flex-basis: 1 1 auto;
  background-color: white;
  border-radius: 0.4375rem;
  @mixin atMdPlusShort {
    height: auto;
    padding: $overset 0 0 0;
    transform: translate(-50%, -50%);
    background-color: white;
    left: 50%;
    top: 50%;
    width: 600px;
    position: fixed;
    box-shadow: $margin $margin resolve($margin * 3) rgba(0, 0, 0, 0.5);
  }
  @mixin atShort {
    width: 400px;
  }
}
.glyphcardList::-webkit-scrollbar {
  width: 0.25rem;
}

/* Track */
.glyphcardList::-webkit-scrollbar-track {
  background: color(white a(50%));
  border-radius: 0.25rem;
  transition: 0.3s all ease;
  .inspectoropen & {
    background: transparent;
  }
}

/* Handle */
.glyphcardList::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0.2rem;
  transition: 0.3s all ease;
  .inspectoropen & {
    background: transparent;
  }
}
.glyphcardList {
  box-sizing: border-box;
  position: absolute;
  padding: 0 resolve($margin * 0.25) 0 0;
  overflow: auto;
  height: 100%;
  width: 100%;
  display: flex;
  align-content: start;
  grid-template-columns: 100%;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-start;
  margin: 0;
  @mixin atMd {
    padding-right: 0.375rem;
  }
  @mixin atLg {
    padding: 0 resolve($margin * 0.5) 0 0;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  }

  /* & > * {
    transform: translateX(-2rem);
  } */

  &:empty {
    &::before {
      display: block;
      @mixin emptymessage;
      content: 'No current results.';
      margin-top: -0.625em;
      @mixin atMd {
        /* margin-top: -0.5em; */
      }
    }
  }
  &:last-child:after {
    /* content: 'x'; */
    height: 100%;
    clear: both;
  }
}

.glyphPanelContainer {
  display: grid;
  position: relative;
  width: 200%;
  max-height: 100%;
  min-height: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  .inspectoropen & {
    z-index: 100;
  }
}
.glyphcardWrapper {
  transition: $transitionpanelshift;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  position: relative;
  &.inspectoropen {
    transform: translateX(-100%);
    @mixin atMdPlusShort {
      transform: none;
    }
  }
}
.inspectorBackButton {
  padding: 0;
  @mixin controlText;
  width: 50%;
  color: white;
  text-align: left;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: $margin;
  font-size: 0.75rem;
  transform: translateX(resolve($margin * 1.5));
  @mixin atX {
    transform: translateX(resolve($margin * 0.5));
    .inspectoropen & {
      transform: translateX(resolve(-$margin * 0.5));
    }
    font-size: 0.82rem;
  }
  &::before {
    position: relative;
    content: '';
    background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15 20"><style type="text/css">.a1{fill:none;stroke:%23ffffff;stroke-width:1.5;stroke-linejoin:round;stroke-miterlimit:10;}</style><line class="a1" x1="2.5" y1="10" x2="15" y2="10"/><polyline class="a1" points="7.5,5 2.5,10 7.5,15"/></svg>') no-repeat center center;
    background-size: contain;
    width: 1rem;
    height: 1.125rem;
    display: inline-block;
    margin-right: resolve($margin * 0.625);
    @mixin atX {
      width: 1rem;
      height: 1.5rem;
    }
  }
  @mixin atMd {
    display: none;
  }
}
.swdLink {
  span {
    color: rgba(255, 255, 255, 0.75);
    transition: 0.15s all ease;
  }
  &:hover {
    transition: 0.3s all ease;
    span {
      color: white;
      .infinity__mark {
        transition: 0.3s fill ease;
        fill: white;
      }
    }
  }
}
.infinity {
  /* background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="52.158" height="18.402" viewBox="0 0 52.158 18.402"><defs><style>.a{fill:%23d84a0e;}</style></defs><path class="a" d="M51.679,6.41C50.546,2.677,47.39.517,43.14.282a22.465,22.465,0,0,0-14.713,4.19,62.958,62.958,0,0,0-4.912,4.851A16.187,16.187,0,0,1,13.272,13.5c-2.661.144-6.866-.205-7.262-3.581A4.84,4.84,0,0,1,7.41,5.8C9.942,3.65,15.075,4.137,18.063,4.92c.152.038.89.243,1.376.388a.557.557,0,0,0,.6-.205l.327-.433a.551.551,0,0,0-.023-.7,8.345,8.345,0,0,0-1.65-1.506C14.352-.441,5.38-1.444,1.745,3.566-1.175,7.6-.939,14.615,3.874,17.147a10.588,10.588,0,0,0,4.768,1.285,22.028,22.028,0,0,0,13.223-3.939,24.29,24.29,0,0,0,3.6-3,26.124,26.124,0,0,1,4.768-4.327A15.1,15.1,0,0,1,41.566,5.14c.829.221,2.829,1.163,3.277,2.973.487,1.939-1.08,4.076-2.722,4.988a8.738,8.738,0,0,1-4.912.7c-1.65-.091-3.262-.5-4.889-.753a1.05,1.05,0,0,0-.16,0,.431.431,0,0,0-.281.19c-.342.532-.738,1.027-.038,1.521a18.4,18.4,0,0,0,6.783,2.981c3.581.768,7.55.494,10.349-2.015A9.591,9.591,0,0,0,51.679,6.41Z" transform="translate(0.159 -0.047)"/></svg>') no-repeat center center; */
  /* background-size: contain; */
  svg {
    width: 2.875rem;
  }
  .infinity__mark {
    fill: #d84a0e;
  }
}

/* prettier-ignore */
@keyframes flashAlertAnim {
  0% {
    z-index:-1000;
    opacity: 0;
  }
  0.1% {
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
    z-index:101;
  }
  30% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }
  75% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }
  99.9% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
    z-index:101;
  }
  100% {
    opacity: 0;
    z-index:-1000;
  }
}
