@import '../../modules/breakpoints.css';
@import '../../modules/variables.css';
$closex: 2.75rem;
$charSize: 7.75rem;
$iconsize: 1.125rem;

$margin: 0.5rem;
$cardsize: 7.5rem;
.inspector {
  &_unit {
    * {
      user-select: none;
    }
    transition: 0.3s all ease;
    position: relative;
    box-sizing: border-box;
    display: block;
    border: none;
    height: auto;
    padding: resolve($margin * 1);
    flex-grow: 1;
    @mixin atX {
      padding: resolve($margin * 2);
    }
    @mixin atSm {
      padding: resolve($margin * 2);
    }
    @mixin atSmmd {
      padding: resolve($margin * 3);
    }
  }
  &_bigglyph {
    z-index: 1;
    margin: 0;
    font-size: resolve($charSize * 0.625);
    height: resolve($charSize * 0.625);
    line-height: 1;
    padding: 0;
    display: block;
    font-weight: 500;
    text-align: left;
    top: 0.5rem;
    position: relative;
    text-align: center;
    &::after {
      content: 'xx;';
      position: relative;
      /* top: 50%; */
      /* left: 1em; */
      font-size: 0.88rem;
      /* font-family:$fontf */
    }
    span {
      position: relative;
      display: block;
      width: 1em;
    }
    margin-bottom: resolve($margin * 2);
    font-family: Inter, 'apple color emoji', 'segoe ui emoji', 'noto color emoji', notocoloremoji, 'segoe ui symbol', 'android emoji', emojisymbols, 'emojione mozilla', 'segoe ui symbol', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    @mixin atX {
      margin-bottom: resolve($margin * 4);
      font-size: $charSize;
      height: $charSize;
    }
    @mixin atShort {
      font-size: resolve($charSize * 0.625);
      height: resolve($charSize * 0.625);
    }
  }
  &_info {
    box-sizing: border-box;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1.375rem;
    line-height: 1.2;
    color: $grey;
  }
  &_name,
  &_entity {
    text-align: left;
    margin: 0;
    margin-top: resolve($margin * 0.25);
    @mixin atMdPlusShort {
      padding-right: 4.5rem !important;
    }
  }
  &_name {
    display: block;
    display: grid;
    align-content: center;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.25rem;
    margin: $margin 0;
    @mixin atX {
      padding: 0 4.625rem 0 0;
      font-size: 1.75rem;
    }
    @mixin atSmmd {
      -webkit-line-clamp: 3;
      max-height: 3.625em;
    }
    @mixin atLg {
      -webkit-line-clamp: 3;
    }
  }
  &_entity {
    position: relative;
    line-height: 1;
    color: black;
    text-align: left;
    margin: 0;
    margin-top: resolve($margin * 0.25);
    padding: $margin resolve($iconsize + resolve($margin * 0.5)) resolve($margin * 0.5) 0;
    font-size: 1.25rem;
    width: 100%;
    overflow: hidden;
    display: block;
    &,
    span {
      font-family: Courier, 'Inter', monospace;
    }
    span {
      display: inline-block;
      /* outline: 2px solid blue; */
    }
    @mixin atX {
      font-size: inherit;
      padding: $margin resolve($iconsize + $margin) $margin 0;
    }

    &:before {
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: 600;
      font-family: 'Inter', sans-serif;
      content: attr(data-type);
      display: block;
      color: rgba(0, 0, 0, 0.3);
      font-size: 0.7rem;
      padding-bottom: 0;
      @mixin atX {
        letter-spacing: 0.1em;
        font-size: 0.75rem;
        padding-bottom: 0.125rem;
      }
    }
  }
  &_column {
    width: 100%;
    @mixin atMdPlusShort {
      width: 100%;
      &:first-child {
        width: 100%;
      }
    }
  }

  &_entity,
  &_name,
  &_bigglyph {
    position: relative;
    cursor: pointer;
  }
  &_closebutton {
    z-index: 1000;
    padding: 0;
    position: absolute;
    width: $closex;
    height: $closex;
    cursor: pointer;
    display: none;
    top: $margin;
    right: $margin;
    @mixin atMdPlusShort {
      display: block;
      top: resolve($margin * 1.5);
      right: resolve($margin * 0.5);
    }
    &:active::before,
    &:active::after,
    &:hover::before,
    &:hover::after {
      /* opacity: 0.5; */
      background-color: black;
    }
    &:before,
    &:after {
      transition: 0.15s all ease;
      content: '';
      width: resolve($closex * 0.75);
      height: 2px;
      background-color: $grey;
      transform-origin: center;
      position: absolute;
      top: calc(resolve($closex/2) - resolve(2px / 2));
      right: resolve($closex * 0.125);
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

:global .pseudocopybutton {
  @mixin pseudocopybutton;
}
:global .copiedactive {
  transform: translateY(100%);
  animation: float 1.125s normal forwards ease;
}

/* prettier-ignore */
@keyframes :global(float) {
  0% {
    bottom: calc(50% - 0.75rem);
    opacity: 0;
  }
  50% {
    bottom: calc(50% + 0.75rem);

  }
  75% {
    opacity:1;
  }
  85% {
    bottom: calc(50% + 0.75rem);
    opacity:1;
  }
  100% {
    bottom: calc(50% + 0.75rem);
    opacity: 0;
  }
} ;
