@import '../../modules/breakpoints.css';
@import '../../modules/variables.css';
$closex: 2rem;
$charSize: 8rem;
$iconsize: 1.125rem;

$margin: 0.5rem;
$cardsize: 7.5rem;
.inspector {
  &_unit {
    transition: 0.3s all ease;
    position: relative;
    box-sizing: border-box;
    display: block;
    border: none;
    height: auto;
    padding: resolve($margin * 2);
    flex-grow: 1;
  }
  &_bigletter {
    z-index: 1;
    margin: 0;
    font-size: $charSize;
    line-height: 1;
    padding: 0;
    display: block;
    font-weight: 500;
    text-align: left;
    top: 0.5rem;
    width: 100%;
    height: $charSize;
    font-family: 'Inter Bold', 'apple color emoji', 'segoe ui emoji', 'noto color emoji', notocoloremoji, 'segoe ui symbol', 'android emoji', emojisymbols, 'emojione mozilla', 'twemoji mozilla', 'segoe ui symbol', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  &_info {
    box-sizing: border-box;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1.375rem;
    line-height: 1.2;
    color: $grey;
  }
  &_name,
  &_entity {
    text-align: left;
    padding: $margin resolve($iconsize + $margin) $margin $margin;
    margin: 0;
    margin-top: resolve($margin * 0.25);
  }
  &_name {
    display: block;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @mixin atSmmd {
      -webkit-line-clamp: 3;
      height: 3em;
      max-height: 3em;
    }
    @mixin atLg {
      -webkit-line-clamp: 4;
    }
  }
  &_entity {
    position: relative;
    line-height: 1;
    &:before {
      font-size: 80%;
      content: 'HTML Entity';
      display: block;
      padding-bottom: 0.125rem;
      color: $secondary;
    }
  }
  &_column {
    width: 100%;
    @mixin atMd {
      width: 40%;
      &:first-child {
        width: 60%;
      }
    }
  }
  &_copied {
    box-sizing: border-box;
    overflow: hidden;
    width: 4rem;
    position: absolute;
    top: auto;
    left: 50%;
    bottom: 2rem;
    display: block;
    margin-left: -2rem;
    opacity: 1;
    padding: resolve($margin * 1) 0 resolve($margin * 1) 0;
    font-weight: 700;
    z-index: 10;
    /* background-color: white; */
    border: 1px solid $primary;
    border-radius: 0.375rem;
    box-shadow: 0 0 0.75rem $primary;
    line-height: 1;
    transform: translateX(-50%);
  }
  &_entity,
  &_name,
  &_bigletter {
    cursor: pointer;
    &:after {
      /* clipboard */
      transition: 1s opacity ease;
      content: '';
      opacity: 0;
      display: block;
      position: absolute;
      top: calc(50% - resolve($margin * 0.25));
      width: $iconsize;
      height: $iconsize;
      right: resolve($margin - $iconsize * 0.125);
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: $iconsize $iconsize;
      background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.063 35.063"><style type="text/css">.st0{fill:none;stroke:%23000000;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;}</style><polyline class="st0" points="25.536,7.515 29.536,7.515 29.536,30.941 5.527,30.941 5.527,7.515 9.527,7.515"/><rect x="13.027" y="4.122" class="st0" width="9.008" height="6.787"/></svg>');
    }
    &:hover:after {
      transition: 0.5s opacity ease;
      opacity: 1;
    }
  }
  &_closebutton {
    z-index: 1;
    padding: 0;
    /* border-radius: 40px; */
    position: absolute;
    top: $margin;
    right: $margin;
    width: $closex;
    height: $closex;
    display: block;
    &:hover::before,
    &:hover::after {
      background-color: black;
    }
    &:before,
    &:after {
      content: '';
      width: $closex;
      height: 2px;

      background-color: $grey;
      transform-origin: center;
      position: absolute;
      top: calc(resolve($closex/2) - resolve(2px / 2));
      right: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
.sideborder {
  span {
    background-clip: padding-box;
    padding: 0;
    box-sizing: border-box;
    white-space: pre;
    position: relative;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-width: 0 1px;
    background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06) 6px, rgba(0, 0, 0, 0.09) 6px, rgba(0, 0, 0, 0.09) 12px);
  }
}
:global .copied {
  &:hover:after {
    animation: wiggle 0.5s normal forwards ease;
    opacity: 1;
  }
}

:global .copiedactive {
  transform: translateY(100%);
  animation: float 1.125s normal forwards ease;
}
/* prettier-ignore */
@keyframes :global(wiggle){
  0%,100% {
    transform: translateX(0%) translateY(-50%);
  }
  33.33%,66.66% {
    transform: translateX(20%) translateY(-50%);
  }
  16.665%, 50%, 83.325% {
    transform: translateX(-20%) translateY(-50%);
  }
}
/* prettier-ignore */
@keyframes :global(float) {
  0% {
    bottom: calc(50% - 0.75rem);
    opacity: 0;
  }
  50% {
    bottom: calc(50% + 0.75rem);

  }
  75% {
    opacity:1;
  }
  85% {
    bottom: calc(50% + 0.75rem);
    opacity:1;
  }
  100% {
    bottom: calc(50% + 0.75rem);
    opacity: 0;
  }
} ;
