@import '../../modules/breakpoints.css';
@import '../../modules/variables.css';
$closex: 2rem;
$charSize: 7.75rem;
$iconsize: 1.125rem;

$margin: 0.5rem;
$cardsize: 7.5rem;
.inspector {
  &_unit {
    transition: 0.3s all ease;
    position: relative;
    box-sizing: border-box;
    display: block;
    border: none;
    height: auto;
    padding: resolve($margin * 1);
    flex-grow: 1;
    @mixin atX {
      padding: resolve($margin * 2);
    }
    @mixin atSm {
      padding: resolve($margin * 2);
    }
    @mixin atSmmd {
      padding: resolve($margin * 3);
    }
  }
  &_bigglyph {
    z-index: 1;
    margin: 0;
    font-size: resolve($charSize * 0.625);
    height: resolve($charSize * 0.625);
    line-height: 1;
    padding: 0;
    display: block;
    font-weight: 500;
    text-align: left;
    top: 0.5rem;
    width: 100%;
    margin-bottom: resolve($margin * 2);
    font-family: 'Inter Bold', 'apple color emoji', 'segoe ui emoji', 'noto color emoji', notocoloremoji, 'segoe ui symbol', 'android emoji', emojisymbols, 'emojione mozilla', 'twemoji mozilla', 'segoe ui symbol', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    @mixin atX {
      margin-bottom: resolve($margin * 4);
      font-size: $charSize;
      height: $charSize;
    }
  }
  &_info {
    box-sizing: border-box;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1.375rem;
    line-height: 1.2;
    color: $grey;
  }
  &_name,
  &_entity {
    text-align: left;
    padding: $margin resolve($iconsize + $margin) $margin $margin;
    margin: 0;
    margin-top: resolve($margin * 0.25);
  }
  &_name {
    display: block;
    display: grid;
    align-content: center;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.25rem;
    padding: 0 2rem 0 0;
    margin: $margin 0;
    @mixin atX {
      padding: 0 4.625rem 0 0;
      font-size: 1.75rem;
    }
    @mixin atSmmd {
      -webkit-line-clamp: 3;
      max-height: 3em;
    }
    @mixin atLg {
      -webkit-line-clamp: 4;
    }
  }
  &_entity {
    position: relative;
    line-height: 1;
    font-family: Courier, 'Inter', monospace;
    color: black;
    text-align: left;
    margin: 0;
    margin-top: resolve($margin * 0.25);
    padding: $margin resolve($iconsize + resolve($margin * 0.5)) resolve($margin * 0.5) 0;
    font-size: 1.25rem;
    @mixin atX {
      font-size: inherit;
      padding: $margin resolve($iconsize + $margin) $margin 0;
    }

    &:before {
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: 600;
      font-family: 'Inter', sans-serif;
      content: attr(data-type);
      display: block;
      color: rgba(0, 0, 0, 0.3);
      font-size: 0.7rem;
      padding-bottom: 0;
      @mixin atX {
        letter-spacing: 0.1em;
        font-size: 0.75rem;
        padding-bottom: 0.125rem;
      }
    }
  }
  &_column {
    width: 100%;
    @mixin atMd {
      width: 100%;
      &:first-child {
        width: 100%;
      }
    }
  }
  &_copied {
    box-sizing: border-box;
    overflow: hidden;
    width: 4rem;
    position: absolute;
    top: auto;
    left: 50%;
    bottom: 2rem;
    display: block;
    margin-left: -2rem;
    opacity: 1;
    padding: resolve($margin * 1) 0 resolve($margin * 1) 0;
    font-weight: 700;
    z-index: 10;
    /* background-color: white; */
    border: 1px solid $primary;
    border-radius: 0.375rem;
    box-shadow: 0 0 0.75rem $primary;
    line-height: 1;
    transform: translateX(-50%);
  }
  &_entity,
  &_name,
  &_bigglyph {
    position: relative;
    cursor: pointer;
  }
  &_closebutton {
    z-index: 1;
    padding: 0;
    /* border-radius: 40px; */
    position: absolute;
    top: $margin;
    right: $margin;
    width: $closex;
    height: $closex;
    display: none;
    @mixin atMd {
      display: block;
    }
    &:hover::before,
    &:hover::after {
      background-color: black;
    }
    &:before,
    &:after {
      content: '';
      width: $closex;
      height: 2px;
      background-color: $grey;
      transform-origin: center;
      position: absolute;
      top: calc(resolve($closex/2) - resolve(2px / 2));
      right: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
:global .sideborder {
  span {
    background-clip: padding-box;
    padding: 0;
    box-sizing: border-box;
    white-space: pre;
    position: relative;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-width: 0 1px;
    background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06) 6px, rgba(0, 0, 0, 0.09) 6px, rgba(0, 0, 0, 0.09) 12px);
  }
}
:global .copied {
  &:hover:after {
    animation: wiggle 0.5s normal forwards ease;
    opacity: 1;
  }
}
:global .pseudocopybutton {
  @mixin pseudocopybutton;
}
:global .copiedactive {
  transform: translateY(100%);
  animation: float 1.125s normal forwards ease;
}
/* prettier-ignore */
@keyframes :global(wiggle){
  0%,100% {
    transform: translateX(0%) translateY(-50%);
  }
  33.33%,66.66% {
    transform: translateX(20%) translateY(-50%);
  }
  16.665%, 50%, 83.325% {
    transform: translateX(-20%) translateY(-50%);
  }
}
/* prettier-ignore */
@keyframes :global(float) {
  0% {
    bottom: calc(50% - 0.75rem);
    opacity: 0;
  }
  50% {
    bottom: calc(50% + 0.75rem);

  }
  75% {
    opacity:1;
  }
  85% {
    bottom: calc(50% + 0.75rem);
    opacity:1;
  }
  100% {
    bottom: calc(50% + 0.75rem);
    opacity: 0;
  }
} ;
